__pycache__/
*.pyc
.DS_Store
.env
.venv/
venv/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/raw/

# raw data
scripts/GridScopeNY\data/raw/
scripts/GridScopeNY\data/loaded_files.csv
scripts/GridScopeNY/data/raw/
scripts/GridScopeNY/data/loaded_files.csv
data/raw/

# generated raw data
data/raw/
scripts/GridScopeNY\\data/
scripts/GridScopeNY\\data/raw/
scripts/GridScopeNY\\data\\raw\\
scripts/GridScopeNY\\data/loaded_files.csv
scripts/GridScopeNY\\data/loaded_zip_members.csv

# generated raw data
data/raw/
scripts/GridScopeNY\\data/
scripts/GridScopeNY\\data/raw/
scripts/GridScopeNY\\data\\raw\\
scripts/GridScopeNY\\data/loaded_files.csv
scripts/GridScopeNY\\data/loaded_zip_members.csv
